@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100vh;
  position: relative;
}

.player__nav {
  bottom: 0;
  left: 0;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.player__bottom {
  padding: 15px 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__buttons {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  width: max-content;
}

.player__prew {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player__next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player__items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item__play {
  transition: all 0.5s ease;
  fill: white;
}

.player__item {
  cursor: pointer;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
  background-color: #000000;
}
.player__item:hover {
  color: black;
  background-color: #ffffff;
}
.player__item:hover .item__play {
  fill: black;
}

.player__item.played {
  color: black;
  background-color: white;
}
.player__item.played .item__play {
  fill: black;
}
.player__item.played .item__play.played {
  animation-name: animPlay;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.item__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.player__prew,
.player__next,
.player__play {
  cursor: pointer;
}

.play__name {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.item__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player__top {
  cursor: pointer;
  width: 100vw;
  height: 10px;
  background-color: gray;
  border-top: 2px solid black;
}

.player__progress {
  background-color: white;
  height: 100%;
  width: 1%;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

@keyframes animPlay {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}