@import '_reset';

body {
    height: 100vh;
    position: relative;
}

.player__nav {
    bottom: 0;
    left: 0;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.player__bottom {
    padding: 15px 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__buttons {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: max-content;
}

.player__prew {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__next {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item__play {
    transition: all 0.5s ease;
    fill: white;
}

.player__item {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
    background-color: #000000;

    &:hover {
        color: black;

        .item__play {
            fill: black;
        }

        background-color: #ffffff;
    }
}

.item__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.item__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__play {
    cursor: pointer;
}

.player__top {
    width: 100vw;
    height: 10px;
    background-color: black;
    border-top: 2px solid black;
}

.player__progress {
    width: 30%;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.progress__end {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid gray;
}